MQTT/Node-Red/flows.json
[{"id":"8b055d5e.7e09d","type":"tab","label":"MQTT","disabled":false,"info":""},{"id":"c7e77742.634428","type":"mqtt in","z":"8b055d5e.7e09d","name":"","topic":"esp32/humidity","qos":"2","datatype":"auto","broker":"85331a36.cd5c88","x":150,"y":240,"wires":[["39b3b205.be74fe","41b6b93e.8a1798","2d2492d3.a0845e"]]},{"id":"39b3b205.be74fe","type":"debug","z":"8b055d5e.7e09d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":360,"y":140,"wires":[]},{"id":"16d32039.75143","type":"mqtt in","z":"8b055d5e.7e09d","name":"","topic":"esp32/temperature","qos":"2","datatype":"auto","broker":"85331a36.cd5c88","x":180,"y":340,"wires":[["c3bef761.d5e118","e3fb37a4.046238","d280482d.123438"]]},{"id":"c3bef761.d5e118","type":"debug","z":"8b055d5e.7e09d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":400,"y":340,"wires":[]},{"id":"d280482d.123438","type":"ui_gauge","z":"8b055d5e.7e09d","name":"Température","group":"95d0a384.ccd97","order":0,"width":0,"height":0,"gtype":"gage","title":"Température DHT22","label":"","format":"{{value}}°C","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":410,"y":260,"wires":[]},{"id":"e3fb37a4.046238","type":"ui_chart","z":"8b055d5e.7e09d","name":"Température","group":"95d0a384.ccd97","order":0,"width":0,"height":0,"label":"Température","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":410,"y":300,"wires":[[]]},{"id":"41b6b93e.8a1798","type":"ui_chart","z":"8b055d5e.7e09d","name":"","group":"14acf9b.97e7806","order":3,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":370,"y":200,"wires":[[]]},{"id":"2d2492d3.a0845e","type":"ui_gauge","z":"8b055d5e.7e09d","name":"Humidité","group":"14acf9b.97e7806","order":0,"width":"0","height":"0","gtype":"gage","title":"Humidity","label":"","format":"{{value}}%","min":0,"max":"100","colors":["#1a25ab","#e6e600","#ca3838"],"seg1":"","seg2":"","x":320,"y":60,"wires":[]},{"id":"eb45ba3f.cbfb38","type":"ui_switch","z":"8b055d5e.7e09d","name":"","label":"ON/OFF","tooltip":"","group":"32a51fb3.528bf","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"esp32/message","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"red","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"black","animate":false,"x":750,"y":220,"wires":[["bfc07670.a456d8"]]},{"id":"bfc07670.a456d8","type":"function","z":"8b055d5e.7e09d","name":"","func":"Etat = msg.payload \n\nif (Etat === true ){\n    var msg1 = {payload: \"ON\"} \n    return [msg1]   \n    }\nelse if (Etat === false ) {\n    var msg2 = {payload: \"OFF\"}\n    return [msg2]   \n    }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":220,"wires":[["e4676fea.a3868"]]},{"id":"e4676fea.a3868","type":"mqtt out","z":"8b055d5e.7e09d","name":"","topic":"esp32/message","qos":"2","retain":"false","broker":"85331a36.cd5c88","x":1130,"y":240,"wires":[]},{"id":"85331a36.cd5c88","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"95d0a384.ccd97","type":"ui_group","name":"Température","tab":"68567df3.4e8894","order":2,"disp":true,"width":"6","collapse":false},{"id":"14acf9b.97e7806","type":"ui_group","name":"Humidité","tab":"68567df3.4e8894","order":1,"disp":true,"width":"6","collapse":false},{"id":"32a51fb3.528bf","type":"ui_group","name":"LED","tab":"68567df3.4e8894","order":3,"disp":true,"width":"6","collapse":false},{"id":"68567df3.4e8894","type":"ui_tab","name":"IOT","icon":"dashboard","order":1,"disabled":false,"hidden":false}]