REST/Node-RED/flows.json
[
    {
        "id": "8a63f92f.b9b558",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4d886e4f.8967b",
        "type": "change",
        "z": "8a63f92f.b9b558",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.r",
                "pt": "msg",
                "to": "payload.red",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.g",
                "pt": "msg",
                "to": "payload.green",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "d518d7ee.e318a8",
        "type": "http request",
        "z": "8a63f92f.b9b558",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://172.20.10.5/led",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 770,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "53308fff.ae04c",
        "type": "ui_button",
        "z": "8a63f92f.b9b558",
        "name": "",
        "group": "46097c7c.c45094",
        "order": 4,
        "width": "6",
        "height": "2",
        "passthru": false,
        "label": "Refresh",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 100,
        "y": 420,
        "wires": [
            [
                "4ef9df0e3386ddb7"
            ]
        ]
    },
    {
        "id": "75ed61fb.613c2",
        "type": "ui_gauge",
        "z": "8a63f92f.b9b558",
        "name": "",
        "group": "46097c7c.c45094",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "°C",
        "format": "{{value}}",
        "min": "-10",
        "max": "40",
        "colors": [
            "#0096ff",
            "#00f900",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 910,
        "y": 420,
        "wires": []
    },
    {
        "id": "bb71cb58.3e5ca8",
        "type": "change",
        "z": "8a63f92f.b9b558",
        "name": "Temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 420,
        "wires": [
            [
                "75ed61fb.613c2",
                "8883aea2e456d299"
            ]
        ]
    },
    {
        "id": "125bdd16.b70bd3",
        "type": "change",
        "z": "8a63f92f.b9b558",
        "name": "Humidity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[1].value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 500,
        "wires": [
            [
                "3e3211ee.e8ed3e",
                "84e4304ffb5b5e20"
            ]
        ]
    },
    {
        "id": "f247b9d0.935798",
        "type": "json",
        "z": "8a63f92f.b9b558",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 430,
        "y": 420,
        "wires": [
            [
                "125bdd16.b70bd3",
                "bb71cb58.3e5ca8"
            ]
        ]
    },
    {
        "id": "3e3211ee.e8ed3e",
        "type": "ui_gauge",
        "z": "8a63f92f.b9b558",
        "name": "",
        "group": "46097c7c.c45094",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#0096ff",
            "#00f900",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 880,
        "y": 500,
        "wires": []
    },
    {
        "id": "84e4304ffb5b5e20",
        "type": "debug",
        "z": "8a63f92f.b9b558",
        "name": "Humidity",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 580,
        "wires": []
    },
    {
        "id": "8883aea2e456d299",
        "type": "debug",
        "z": "8a63f92f.b9b558",
        "name": "Temperature",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 360,
        "wires": []
    },
    {
        "id": "4ef9df0e3386ddb7",
        "type": "http request",
        "z": "8a63f92f.b9b558",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://172.20.10.5/env",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 250,
        "y": 460,
        "wires": [
            [
                "f247b9d0.935798"
            ]
        ]
    },
    {
        "id": "890e388eb22610b6",
        "type": "ui_switch",
        "z": "8a63f92f.b9b558",
        "name": "",
        "label": "LED ON/OFF",
        "tooltip": "",
        "group": "46097c7c.c45094",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"stateRouge\":1}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"stateRouge\":0}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "x": 400,
        "y": 80,
        "wires": [
            [
                "d518d7ee.e318a8"
            ]
        ]
    },
    {
        "id": "46097c7c.c45094",
        "type": "ui_group",
        "name": "Environment",
        "tab": "29a564f0.c41aac",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "29a564f0.c41aac",
        "type": "ui_tab",
        "name": "Environment",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]